@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: grey;
  color: #fff;
}

header,
main,
footer,
aside {
  border: 1px solid #fff;
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

header > div {
  min-width: 150px;
}

nav {
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 1;
  top: 0;
  right: 0;
  padding-top: 20px;
  background-color: #fff;
  text-align: right;
}

#menu,
#close_drawer {
  display: inline-block;
  margin-right: 20px;
}

#menu img,
#close_drawer img {
  height: 30px;
}
nav ul {
  list-style: none;
  text-align: left;
}

nav ul li {
  list-style: none;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

main {
}

aside {
}

footer {
}

@media only screen and (min-width: 600px) {
  header {
    grid-area: header;
  }

  #menu {
    display: none;
  }

  nav {
    grid-area: nav;
    width: 100% !important;
    position: static;
    padding: 0;
  }

  #close_drawer {
    display: none;
  }

  main {
    grid-area: main;
  }

  aside {
    grid-area: aside;
  }

  footer {
    grid-area: footer;
  }
  #wrapper {
    display: grid;
    grid-template:
      "header header"
      "nav main"
      "aside aside"
      "footer footer" / 200px;
  }
}
