@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: grey;
  color: #fff;
}

ul {
  list-style: none;
}

.vl {
  border-left: 2px solid #fff;
  height: 18px;
  display: inline-block;
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  background-color: #000;
}

header div:not(#header-menu) a {
  display: inline-block;
}

header ul {
  list-style: none;
  text-align: left;
  display: flex;
  font-size: 16px;
}

header ul li {
  list-style: none;
  padding: 0px 20px 0px 20px;
}

header ul li a {
  text-decoration: none;
  color: #fff;
}

header ul li a:hover {
  color: #1ed760;
}

#header-menu ul {
  display: none;
}

nav {
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 1;
  top: 0;
  right: 0;
  padding-top: 20px;
  background-color: #fff;
  text-align: right;
}

#menu,
#close_drawer {
  display: inline-block;
  margin-right: 20px;
}

#menu img,
#close_drawer img {
  height: 30px;
}
nav ul {
  list-style: none;
  text-align: left;
}

nav ul li {
  list-style: none;
  padding: 10px;
}

.active,
nav ul li:hover {
  background: #f0f0f0;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

main {
  min-height: 500px;
}

aside {
}

footer {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  background-color: #000;
}

#site-links {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

#site-links dl {
  width: 300px;
  margin-top: 30px;
}

#site-links dt {
  color: #919496;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.08em;
}

#site-links dd {
  padding: 10px 0px;
  font-size: 16px;
}

#site-links dd a {
  text-decoration: none;
  color: #fff;
}

#site-links dd a:hover {
  color: #1ed760;
}

#site-policy {
  display: flex;
  font-size: 12px;
  justify-content: right;
  color: #919496;
  align-items: end;
}

#other-links {
  display: none;
}

#other-links ul {
  display: flex;
}

#other-links ul li {
  margin-right: 20px;
}

#other-links ul li a {
  color: inherit;
  text-decoration: none;
}

#other-links ul li a:hover {
  color: #1ed760;
  text-decoration: underline;
}

#site-policy > section:not(#other-links) {
  text-align: right;
}

#site-policy > section:not(#other-links) ul li {
  text-align: left;
  margin-top: 10px;
}

#site-policy > section:not(#other-links) ul li img {
  height: 12px;
  margin-right: 7px;
}

@media only screen and (min-width: 600px) {
  header {
    grid-area: header;
  }

  #header-menu ul {
    display: flex;
  }

  #menu {
    display: none;
  }

  nav {
    grid-area: nav;
    width: 100% !important;
    position: static;
    padding: 0;
  }

  #close_drawer {
    display: none;
  }

  main {
    grid-area: main;
  }

  aside {
    grid-area: aside;
  }

  footer {
    grid-area: footer;
  }

  #wrapper {
    display: grid;
    grid-template:
      "header header"
      "nav main"
      "nav aside"
      "footer footer" / 200px;
  }

  #other-links {
    display: inline-block;
  }

  #site-links {
    justify-content: space-evenly;
  }

  #site-links dl {
    text-align: left;
    width: auto;
  }

  #site-policy {
    justify-content: space-between;
  }

  #site-policy > section:not(#other-links) ul li {
    display: flex;
    justify-content: right;
    text-align: center;
    margin-top: 10px;
  }
}
