#wrapper {
  display: grid;
  grid-template:
    "header"
    "main"
    "aside"
    "footer";
}

.description {
  font-size: 14px;
  font-weight: 300;
}

.sec-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.sec-class .container {
  width: 100%;
}

.sec-class .image-container {
  display: none;
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.sec-class p {
  font-size: 20px;
  font-weight: 400;
}

.sec-class h1 {
  font-size: 54px;
  font-weight: 600;
}

.sec-class h2 {
  font-size: 26px;
  font-weight: 400;
}

.sec-class button {
  border: none;
  border-radius: 500px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  padding: 17px 48px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  transition: all 0.2s;
  text-transform: uppercase;
  box-sizing: border-box;
}

.sec-class button:hover {
  transform: scale(1.04);
}

#sec1-id {
  background-color: #96f0b6;
  color: #202f72;
}

#sec1-id .container {
  /* width: 700px; */
  /* width: 460px; */
}

#sec1-id .container * {
  margin-top: 20px;
}

#btn1 {
  background-color: #202f72;
  color: #96f0b6;
}

#sec1-id .image-container {
  background-image: url("../assets/images/home/sec1.png"); /*Ref: https://i.scdn.co/image/ab671c3d0000f4303192d3851d53bb53a93ddfc7*/
}

#sec2-id {
  background-color: #f46ebe;
  color: #202f72;
}

#sec2-id .container {
  /* width: 700px; */
}

#sec2-id .container * {
  margin-top: 20px;
  color: #202f72;
}

#btn2 {
  background-color: #2de26d;
  color: #2941ab;
}

#sec2-id .image-container {
  background-image: url("../assets/images/home/sec2.svg"); /*--Ref: https://content-tooling.spotifycdn.com/images/b236bf87-bfd5-4bcb-b51a-77881073039c_lie_circles.svg*/
  background-position: -130px -100px;
  background-size: 262%;
  height: 500px;
  width: 500px;
}

#sec3-id {
  background-color: #2941ab;
  /* padding-left: 70px; */
}

#sec3-id .container {
  /* width: 700px; */
}

#sec3-id .container * {
  margin-top: 20px;
  color: #2de26d;
}

#btn3 {
  background-color: #2de26d;
  color: #2941ab !important;
}

#sec3-id .image-container {
  background-image: url("../assets/images/home/sec3.svg"); /*--Ref: https://content-tooling.spotifycdn.com/images/b236bf87-bfd5-4bcb-b51a-77881073039c_lie_circles.svg*/
  background-position: -612px 500px;
  background-size: 230%;
  height: 500px;
  width: 500px;
}

@media only screen and (min-width: 768px) {
  nav {
    display: none;
  }

  .sec-class {
    flex-wrap: nowrap;
  }

  .sec-class .container {
    width: 700px;
  }

  #sec1-id {
    padding: 70px;
  }

  #sec2-id,
  #sec3-id {
    padding: 0;
    padding-left: 70px;
  }

  .sec-class .image-container {
    display: inline-block;
  }
}
