#wrapper {
  display: grid;
  grid-template:
    "header"
    "main"
    "aside"
    "footer";
}

#p-id {
  font-size: 14px;
  font-weight: 300;
}

.sec-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec-class .container {
  width: 700px;
}

.sec-class .image-container {
  display: inline-block;
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.sec-class p {
  font-size: 20px;
  font-weight: 400;
}

.sec-class h1 {
  font-size: 54px;
  font-weight: 600;
}

.sec-class h2 {
  font-size: 26px;
  font-weight: 400;
}

.sec-class button {
  border: none;
  border-radius: 500px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  padding: 17px 48px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  translate: all 1.3s;
  text-transform: uppercase;
  box-sizing: border-box;
}

.sec-class button:hover {
  transform: scale(1.04);
}

#sec1-id {
  background-color: #96f0b6;
  color: #202f72;
  padding: 70px;
}

#sec1-id .container {
  width: 700px;
}

#sec1-id .container * {
  margin-top: 20px;
}

#btn1 {
  background-color: #202f72;
  color: #96f0b6;
}

#sec1-id .image-container {
  background-image: url("../assets/images/home/sec1.png");
}

#sec2-id {
  background-color: #f46ebe;
  color: #202f72;
  padding-left: 70px;
}

#sec2-id .container {
  width: 700px;
}

#sec2-id .container * {
  margin-top: 20px;
  color: #202f72;
}

#btn2 {
  background-color: #2de26d;
  color: #2941ab;
}

#sec2-id .image-container {
  background-image: url("../assets/images/home/sec2.svg");
  background-position: -130px -100px;
  background-size: 262%;
  height: 500px;
  width: 500px;
}

#sec3-id {
  background-color: #2941ab;
  padding-left: 70px;
}

#sec2-id .container {
  width: 700px;
}

#sec3-id .container * {
  margin-top: 20px;
  color: #2de26d;
}

#btn3 {
  background-color: #2de26d;
  color: #2941ab !important;
}

#sec3-id .image-container {
  background-image: url("../assets/images/home/sec3.svg");
  background-position: -612px 500px;
  background-size: 230%;
  height: 500px;
  width: 500px;
}

@media only screen and (min-width: 600px) {
  nav {
    display: none;
  }
}
