body {
  background: linear-gradient(#212c39, #121e3d 50%, #000);
  background-repeat: no-repeat;
}

.btn {
  padding: 17px 48px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  transition: transform 0.2s;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.04);
}

#wrapper {
  width: 100%;
  display: grid;
  grid-template:
    "header"
    "main"
    "aside"
    "footer";
}

article {
  min-width: 500px;
  height: 500px;
  width: 100%;
  background-color: #4101f5;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 50px;
}

.promotion-section {
  width: 100%;
}

.promotion-section h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 900;
}

.promotion-section h2 {
  margin-top: 30px;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
}

.promotion-section .btn-wrapper {
  margin-top: 30px;
}

.promotion-section button {
  background-color: #000000;
  color: #ffffff;
}

.promotion-section p {
  margin-top: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
}

article img {
  display: none;
}

.profile-section {
  width: 100%;
  min-width: 500px;
}

.profile-wrapper {
  display: flex;
}

.profile-menu {
  display: none;
}

.profile-info {
  color: #222326;
  background-color: #ffffff;
  padding: 50px 40px;
}

.profile-info section {
  margin-bottom: 30px;
}

.profile-info section h1 {
  font-size: 48px;
  line-height: 56px;
  padding-bottom: 20px;
}

.profile-info section h2 {
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 20px;
}

.profile-info section table {
  text-align: left;
  width: 100%;
  font-size: 16px;
  margin-bottom: 30px;
}

.profile-info section table tr th {
  color: #b3b3b3;
  padding: 16px 0px;
  width: 50%;
  font-weight: 400;
  border-bottom: 1px solid #dedede;
}

.profile-info section table tr td {
  color: #000000;
  padding: 16px 0px;
  border-bottom: 1px solid #dedede;
}

.profile-info section button {
  background-color: transparent;
  border: 1px solid #000000;
  padding: 15px 20px;
}

.plan-section {
  border-radius: 5px;
  overflow: hidden;
  margin-top: 30px;
  border: 1px solid #d9dadc;
  margin-bottom: 30px;
}

.profile-info .plan-section .plan-title {
  display: flex;
  height: 100px;
  align-items: center;
  border: none;
  background: linear-gradient(
    -180deg,
    rgb(182, 43, 190) 0%,
    rgb(150, 34, 185) 100%
  );
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
  padding: 40px;
}

.profile-info .plan-section .plan-body {
  padding: 0 30px;
}
.profile-info .plan-section .plan-body p,
.profile-info .plan-section .plan-body h2 {
  padding: 15px 0;
}

.profile-info section > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 15px;
}

.note {
  background: #f8f8f8;
  border: 1px solid #d9dadc;
  border-radius: 4px;
  padding: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 600px) {
  nav {
    display: none;
  }

  .promotion-section {
    min-width: 40%;
    width: 60%;
  }

  article {
    height: 500px;
    width: 80%;
  }

  article img {
    width: 40%;
    max-width: 500px;
    height: auto;
    display: block;
  }

  .profile-menu {
    display: block;
    width: 500px;
    background-color: #1b1b1b;
  }

  .profile-menu .profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
  }

  .profile-menu ul {
    margin-top: 20px;
    border-bottom-color: #ffffff0d;
    border-top-color: #00000033;
  }

  .profile-menu ul li {
    border-bottom: 1px solid #00000033;
    border-top: 1px solid #ffffff0d;
    padding: 15px 15px 15px 30px;
    display: flex;
    align-items: center;
    position: relative;
    opacity: 0.8;
  }

  .profile-menu ul li.active-menu,
  .profile-menu ul li:hover {
    opacity: 1;
  }

  .active-menu::before,
  .profile-menu ul li:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    background-color: #1ed760;
  }

  .profile-menu ul li span {
    margin-left: 20px;
  }

  .profile-section {
    width: 80%;
    margin: 0 auto;
  }

  .profile-info .plan-section .plan-title {
    font-size: 48px;
  }
}
