#wrapper {
  display: grid;
  grid-template:
    "header"
    "main"
    "aside"
    "footer";
}

.btn {
  padding: 17px 48px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  transition: transform 0.2s;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.04);
}

header {
  position: fixed;
  left: 0;
  right: 0;
  /* background: transparent; */
}

header .tool-btn {
  background-color: #0c1434;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 20px;
}

header .tool-btn span {
  display: inline-block;
  background-color: #282828;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 4px;
  height: 30px;
  width: 30px;
}

header .tool-btn span img {
  height: 20px;
}

.search-input {
  width: 300px;
  height: 40px;
  margin: 8px 0px 8px 20px;
  border-radius: 500px;
  padding: 2px 10px 2px 40px;
  border: 1px solid #1c1d1f70;
  position: relative;
  display: inline-block;
  background-color: #ffffff;
}

.search-input input {
  font-size: 14px;
  outline: none;
  height: 98%;
  width: 100%;
  border: none;
  padding: 0px;
}

.search-input:before {
  content: " ";
  background-image: url(/assets/icons/search.svg); /* Ref: https://fonts.google.com/icons */
  position: absolute;
  background-size: 24px 24px;
  top: 8px;
  width: 24px;
  height: 24px;
  left: 10px;
  opacity: 0.7;
  background-repeat: no-repeat;
}

header .upgrade {
  background-color: #282828;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 9px 15px;
  margin: 0 20px;
  border: 1px solid #ffffff;
}

header .user-profile {
  background-color: #282828;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 1px 15px 1px 0px;
  margin-right: 20px;
  min-width: 150px;
}

header .user-profile span {
  display: inline-block;
  background-color: #535353;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
}

header .user-profile span img {
  height: 18px;
}

header .tool-btn,
header .search-input,
header .upgrade,
header .user-profile {
  display: none;
}

header .brand-logo {
  display: inline-block;
}

nav:not(#navigationBar) {
  display: none;
}

nav:not(#navigationBar) {
  background-color: #000000;
}

nav:not(#navigationBar) > div {
  height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: left;
  padding: 0px 10px;
}

nav:not(#navigationBar) ul li a {
  color: #ffffff;
  display: inline-block;
  width: 100%;
  height: 40px;
  margin-left: 20px;
  line-height: 2.5;
}

nav:not(#navigationBar) ul li:hover a {
  color: #000000;
}

nav:not(#navigationBar) ul li a.menu-active {
  color: #1ed760;
}

nav#navigationBar {
  display: block;
}

main {
  overflow: hidden;
}

main section.song-title-section {
  background-image: linear-gradient(#2840b0 0, #121212 100%);
  padding: 80px 20px 20px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

main section.song-title-section > img {
  box-shadow: 0 4px 60px #00000080;
}
main section.song-title-section .playlist-text {
  padding: 8px 8px 8px 20px;
  flex: 1;
}

main section.song-title-section .playlist-text h2 {
  display: none;
  font-size: 12px;
  font-weight: 700;
  padding-left: 5px;
}

main section.song-title-section .playlist-text h1 {
  display: none;
  font-size: 96px;
  line-height: 96px;
  font-weight: 900;
  margin-top: 10px;
}

main section.song-title-section .playlist-text > span {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 20px;
  padding-left: 5px;
}

main section.song-title-section .playlist-text > div {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 20px;
  padding-left: 5px;
}

main section.song-title-section .playlist-text > div * {
  padding: 0px 5px 0px 5px;
}

main section.song-title-section .playlist-text > div a {
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  padding: 0;
}

main section.song-title-section .playlist-text > div a:hover {
  font-weight: 600;
  color: #ffffff;
  text-decoration: underline;
}

main section.song-title-section .playlist-text > div *:not(:first-child) {
  border-left: 1px solid #ffffff;
}

main section.song-title-section .playlist-action {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

main section.song-body-section {
  padding: 0px 20px 100px;
  background-color: #121212;
  min-height: 100px;
  overflow-x: scroll;
}

main section.song-body-section > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  left: 0;
  right: 0;
}

main section.song-body-section > div > div > * {
  margin-right: 25px;
}

main section.song-body-section table {
  width: 100%;
}

main section.song-body-section table tbody::before {
  content: "";
  line-height: 1px;
  display: inline-block;
}

main section.song-body-section table tbody tr {
  border-radius: 5px;
  overflow: hidden;
  font-size: 13px;
}

main section.song-body-section table tbody tr:hover {
  background-color: #ffffff1a;
}
main section.song-body-section table tbody tr:hover * {
  color: #ffffff;
}

main section.song-body-section table th,
main section.song-body-section table td {
  text-align: left;
  min-width: 200px;
  color: #b3b3b3;
}

main section.song-body-section table th {
  border-bottom: 1px solid #ffffff1a;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

main section.song-body-section table td {
  text-align: left;
  min-width: 200px;
  padding: 5px 20px;
}

main section.song-body-section table th img {
  height: 22px;
}

main section.song-body-section table th:nth-child(1),
main section.song-body-section table td:nth-child(1) {
  min-width: 20px;
}

main section.song-body-section table th:nth-child(2),
main section.song-body-section table td:nth-child(2) {
  min-width: 220px;
}
main section.song-body-section table td:nth-child(2) div {
  width: 100%;
  margin-left: 10px;
  font-size: 12px;
}
main section.song-body-section table td:nth-child(2) div span:first-child {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
}

main section.song-body-section table td:nth-child(2) {
  display: flex;
  align-items: center;
}

main section.song-body-section table td:nth-child(2) > div span {
  width: 100%;
  display: inline-block;
}

main section.song-body-section table th:nth-child(3),
main section.song-body-section table td:nth-child(3) {
  min-width: 200px;
}
main section.song-body-section table th:nth-child(4),
main section.song-body-section table td:nth-child(4) {
  min-width: 200px;
}
main section.song-body-section table th:nth-child(5),
main section.song-body-section table td:nth-child(5) {
  text-align: right;
}

aside {
  border-top: 1px solid #282828;
  background-color: #121212;
  min-height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
}

aside > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 20px;
}

aside .current-song {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside .current-song div span {
  width: 100%;
  display: inline-block;
}

aside .player {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

aside .player > div:not(.player-timeline) {
  display: flex;
  align-items: center;
  justify-content: center;
}
aside .player > div:not(.player-timeline) * {
  margin: 0px 2px;
}

aside .player .play-button img {
  height: 40px;
}

aside .player .player-timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #b3b3b3;
}

aside .player .player-timeline div {
  margin: 0px 5px;
}

aside .player-tools {
  display: none;
}

aside .player-tools span {
  margin: 0px 7px;
}

footer {
  display: none;
}

@media only screen and (min-width: 600px) {
  #wrapper {
    display: grid;
    grid-template:
      "nav header"
      "nav main"
      "nav aside" / 200px;
  }

  header {
    position: fixed;
    left: 200px;
    right: 0;
    background-color: #12121221;
  }

  header div:not(#header-menu) a {
    display: none;
  }

  header .tool-btn,
  header .search-input,
  header .upgrade,
  header .user-profile {
    display: flex;
  }

  nav:not(#navigationBar) {
    display: block;
    position: fixed;
    width: 200px !important;
    left: 0;
  }

  nav#navigationBar {
    display: none;
  }

  main section.song-title-section {
    flex-direction: row;
  }

  main section.song-title-section .playlist-text h2,
  main section.song-title-section .playlist-text h1 {
    display: block;
  }

  main section.song-title-section .playlist-action {
    display: flex;
  }

  main section.song-body-section > div {
    display: none;
  }

  main section.song-body-section table th:nth-child(2),
  main section.song-body-section table td:nth-child(2) {
    min-width: 500px;
  }

  aside {
    left: 200px;
  }

  aside .player-tools {
    display: flex;
  }
}
